/*

COLOR PALETTE

WHITE: #FEFEFE
BLACK: #000000
TEXT INPUT BACKGROUND: #EEEEEE
ADD BUTTON: #FFCC68
DELETE BUTTON: #FF9548
CHORE: #FBDF7C

*/

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Concert One', cursive;
}

button {
    font-family: 'Inter', sans-serif;
}